.App {
  text-align: center;
}
.navBar {

  color: white;
  font-size: 150px;
}
.Modal {
  text-align: center;
  background: blue;

}
.ui.menu {
  background-attachment: fixed;
}
body {
  background: url(./pictures/014.JPG);
  background-size: cover;
  background-attachment: fixed;
}
.ui.card {
  background: url(./pictures/desert.jpg);
}
.ui.cards>.card {
  background: url(./pictures/desert.jpg);
}
.ui.active.modal {
  background: url(./pictures/stones.jpeg);
}
/* .ui.modal>.header {
  background: url(./pictures/stones.jpeg);
} */
.ui.modal>.image.content {
  background: url(./pictures/stones.jpeg);
}
